body{
    background-color: #E5E5E5;
}

main{
    max-width: 870px;
    margin-top: 30px;
}
.player img{
    width: 56px;
}
.player{
    display: flex;
    align-items: center;
    padding: 10px;

}
.top-player{
    background-color: white;
}
.blog-items img{
    width: 177px;
    height: 117px;
    margin-top: 10px;
}
.blog-items{
    display: flex;
}
.blog-paragraph{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}
.bloger{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #562EFF;

}